.button {
    -fx-background-color: #4CAF50; /* Green background */
    -fx-text-fill: white; /* White text */
    -fx-padding: 10px; /* Padding inside the button */
    -fx-font-size: 14px; /* Font size for the button text */
}

/* MENU */

.grid-pane {
    -fx-background-color: #f4f4f4; /* Light grey background for the GridPane */
}

.menu-pane {
    -fx-background-color: #2d3238;
}

.menu-button {
    -fx-background-color: #2d3238; /* Green background */
    -fx-text-fill: #fefefe; /* White text */
    -fx-font-size: 13px; /* Font size for the button text */
}

.menu-button:hover {
    -fx-background-color: #23262d; /* Background color on hover */
    -fx-pref-width: 100; /* Expand to fill container */
}

.menu-button:selected {
    -fx-background-color: #23262d; /* Background color on hover */
}

.root-pane {
    -fx-background-color: #f5f5f5;
    -fx-padding: 20px;
}

.welcome-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.action-button {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #000000, 3, 0.5, 0, 1);
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

.translated-label {
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
}

.text-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}
